*{
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
  animation: shakebody linear 6s infinite;
}


.sky{
  height: 100vh;
  width: 100%;
  position: absolute;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
 
}

.trees{
  height: 100vh;
  width: 100%;
  background-image: url(trees.png);
  background-size: cover;
  position: absolute;
  top: -144px;
}

.track{
  height: 60vh;
  width: 900vw;
  background-image: url(track.png);
  position: absolute;
  top: 70vh;
  background-repeat: repeat-x;
  animation: carMove linear 13s infinite;
  
  
}
.car{
  height: 100px;
  width: 316px;
  background-image: url(car_body.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 444px;
  bottom: 30vh;
  animation: shake linear .3s infinite;
  
}
  .wheel{
    
  }
  
  .wheel1 img{
  width:77px;
  position: relative;
  top: 38px;
  left: 39px;
  animation: wheelRotation linear .13s infinite;
  }
  
  
  
  
  .wheel2 img {
  width:77px;
  position: relative;
  top: -41px;
  left: 217px;
  animation: wheelRotation linear .13s infinite;
    
  }
  
  @keyframes wheelRotation
  {
    100%{
      transform: rotate(360deg);
    }
  }
  
  @keyframes wheelRotation
  {
    100%{
      transform: rotate(360deg);
    }
  }
  
  @keyframes carMove{
    100%{
      transform: translatex(-400vw);
    }
  }
  
   
  @keyframes shake{
    100%{
      transform: translateY(-5px);
    }
    50%{
      transform: translateY(5px);
    }
    0%{
     transform: translateY(-5px);
    }
  }
  
  @keyframes shakebody{
    100%{
      transform: translateY(-30px);
    }
    50%{
      transform: translateY(30px);
    }
    0%{
     transform: translateY(-30px);
    }
  }
  
  